
.smaller-device {
	.form-group {
		label {
			font-size: 12px;
			font-weight: 500;
		}
	}
	.table-title {
		font-size: 16px;
	}
	.p-datatable {
		.p-datatable-thead {
			tr {
				th {
					font-weight: 500;
					font-size: 12px;
				}
			}
		}
		.p-datatable-tbody {
			tr {
				td {
					font-size: 12px;
					font-weight: 500;
					color:#555555;
				}
			}
		}
	}
	.form-control {
		font-size: 12px;
		font-weight: 400;
	}
	.p-inputtext {
		font-size: 12px;
		padding: 3px 4px;
	}
	.p-input-icon-left {
		.p-inputtext {
			padding-left: 2rem;
		}
	}
	.p-dropdown-panel {
		.p-dropdown-items {
			.p-dropdown-item {
				font-size: 12px;
			}
		}
	}
}


@media only screen and (max-width: 2040px) {
    
}
@media only screen and (max-width: 1919px) {

}
@media only screen and (max-width: 1599px) {

}
@media only screen and (max-width: 1199px) {
    
}
@media only screen and (max-width: 1023px) {

}
@media only screen and (max-width: 960px) {
    
}
@media only screen and (max-width: 767px) {

}