

<div #myDiagramDiv class="schema-diagram"></div>

<div class="mt-3 d-flex align-items-center justify-content-end">
  <button type="button" class="btn btn-sm btn-secondary" (click)="zoomIn()">
    <i class="me-2 pi pi-arrow-up-right-and-arrow-down-left-from-center"></i>
    Zoom In
  </button>
  <button type="button" class="btn btn-sm btn-secondary" (click)="zoomOut()">
    <i class="me-2 pi pi-arrow-down-left-and-arrow-up-right-to-center"></i>
    Zoom Out
  </button>
  <button type="button" class="btn btn-sm btn-warning" (click)="resetZoom()">
    <img src="../../../assets/images/icons/repeat.png" alt="icon"/>
    Reset
  </button>
  <button type="button" class="btn btn-sm btn-success" (click)="exportDiagram()">
    <img src="../../../assets/images/icons/download.svg" alt="icon"/>
    Export as PNG
  </button>
</div>


