<div class="card-head mb-2">
  <h1 class="section-title">{{ fieldTitle["workflowlist"] }}</h1>
</div>

<div class="row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="card-box p-3">
      <app-ni-table
        [gridOption]="gridOption"
        [valueList]="modelSvc.workFlowSetupList"
        class="smaller-elements"
      >
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{ item.workflowNo }}</td>
            <td>{{ item.docName }}</td>
            <td>{{ item.projectName }}</td>
            <td>{{ item.organization }}</td>
            <td
              (click)="getDocWFSchemaByID(item.id)"
              style="
                color: #007bff;
                text-decoration: underline;
                cursor: pointer;
              "
            >
              {{ item.wFSchema }}
            </td>

            <td>{{ item.isActive ? "Yes" : "No" }}</td>
            <td class="text-center" style="width: 10%">
              <div class="d-flex align-items-center justify-content-center">
                @if(item.isActive){
                <button
                  [disabled]="item.isDefault"
                  type="button"
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-success p-mr-2"
                  type="button"
                  (click)="editEvent(item)"
                ></button>
                <button
                  [disabled]="item.isDefault"
                  type="button"
                  niDbclickPrevent
                  class="p-button-danger"
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  (click)="deleteWorkFlowSetup(item.id)"
                ></button>
                }
              </div>
            </td>
          </tr>
        </ng-template>
      </app-ni-table>
    </div>
  </div>
</div>
