<div class="login-panel">
  <div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-md-5 p-0">
        <div class="login-box">
          <!-- <img class="sign-img-bg" src="../../assets/images/user/login.svg" alt="login"/> -->
          <div class="d-flex flex-column align-items-center align-self-center">
            <img src="../../assets/images/logo.png">
            <h4>Forgot Password</h4>
            <p>Please enter the email you used to Sign In</p>
            <form #forgotPasswordForm="ngForm" class="no-padding"
            [addValidators]="validationMsgObj"
            validationMessage="forgotPasswordValidateModel">
              <div class="floating-label-group" *ngIf="modelSvc.forgotPasswordModel.isSMSCode">
                <input type="text" class="form-control" inputValidator [(ngModel)]="modelSvc.forgotPasswordModel.mobileNo"  autocomplete="off" autofocus name="mobileNo">     
                <span class="floating-label">Enter Mobile Number</span>
              </div>
              <div class="floating-label-group" *ngIf="modelSvc.forgotPasswordModel.isEmailCode">
                <input type="text" class="form-control" inputValidator [(ngModel)]="modelSvc.forgotPasswordModel.email"  autocomplete="off" autofocus name="email">     
                <span class="floating-label">Enter Email</span>
              </div>
              <button type="button" [disabled]="!forgotPasswordForm.dirty || modelSvc.isSubmitted" (click)="onSubmit(forgotPasswordForm)" class="btn btn-login-in">Request Password Reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>