<div class="login-panel">
  <div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-md-5 p-0">
        <div class="login-box">
          <img class="sign-img-bg" src="../../assets/images/user/sign.png" alt="sign"/>
          <div class="align-self-center">
            <img src="../../assets/images/winbees.png">
            <h4>Entry OTP</h4>
            <p>Please enter the OTP you have got</p>
            <!-- <form #oTPForm="ngForm" class="no-padding"
            [addValidators]="validationMsgObj"
            validationMessage="entryOtpValidateModel">
              <div class="in-box">
                <div class="floating-label-group">
                  <input type="text" class="form-control" inputValidator [(ngModel)]="modelSvc.oTPModel.oTP" niNumber autocomplete="off" autofocus name="otp">     
                  <span class="floating-label">Enter OTP</span>
                </div>
              </div>
              <button type="button" [disabled]="!oTPForm.dirty || modelSvc.isSubmitted" (click)="onSubmit(oTPForm)" class="btn btn-login-in">Confirm OTP</button>

              <p>
                <button type="button" [disabled]="modelSvc.oTPModel.isTimeCount" (click)="resendOTP()">Resend OTP</button> &nbsp; <span *ngIf="modelSvc.oTPModel.isTimeCount">{{modelSvc.oTPModel.countingTime}} Sec.</span>
              </p>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>