
.pos-body.ano {
	.pos-pay-table.ano {
		table {
			tbody {
				tr {
					&:nth-child(2n+2) {
						background: #fff !important;
						border: 1px solid #d1d1d1 !important;
					}
					&:hover {
						background: radial-gradient(#fee7f1, #FCC3D4) !important;
						border: 1px solid #DB3783 !important;
						border-top: 1px solid #DB3783 !important;
						td {
							input {
								background: #e0ffe0 !important;
								border: 2px solid #202124 !important;
							}
						}
					}
				}
				tr.active {
					background: radial-gradient(#fee7f1, #FCC3D4) !important;
					border: 1px solid #DB3783 !important;
					border-top: 1px solid #DB3783 !important;
					&:hover {
						background: radial-gradient(#fee7f1, #FCC3D4) !important;
						border: 1px solid #DB3783 !important;
						border-top: 1px solid #DB3783 !important;
						td {
							input {
								background: #e0ffe0 !important;
								border: 2px solid #202124 !important;
							}
						}
					}
					td {
						input {
							background: #e0ffe0 !important;
							border: 2px solid #202124 !important;
						}
					}
				}
			}
			tr {
				td {
					input {
						border: 2px solid #c5c7c9;
						background: #e0ffe0;
						color: #000000;
					}
				}
			}
		}
	}
	.pos-pay-table {
		table {
			tr {
				td {
					span.code {
						border: 2px solid #bdc1c6;
						background: #fff;
					}
				}
			}
		}
	}
	.item-menu-panel.ano {
		.pos-menu-box {
			li {
				button {
					img {
						display: none;
					}
					font-size: 23px;
					height: 64px;
					font-weight: 500;
					color: #202124;
				}
			}
		}
	}
}
