<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card-body">
      <form #userProfileForm="ngForm" [addValidators]="validationMsgObj"
      validationMessage="UserProfileValidation">

      <div class="d-flex align-items-center justify-content-center">
        <div class="profile-img mb-3">
          <app-ni-file-single-view [isFullImage]="true" [uploadOption]="singleFileUploadOption" [targetObject]="modelSvc.userProfile.imageFile" [objectId]="modelSvc.userProfile.imageFile.id"></app-ni-file-single-view>
        </div>
      </div>

        <div class="form-row">
          <div class="form-group col">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label title="{{ fieldTitle['employee'] }}">{{fieldTitle["employee"]}}</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="employeeID" class="form-control" [(ngModel)]="employeeID" disabled="true">
                <button (click)="showMemberList()" class="btn btn-sm btn-primary ms-0 flex justify-content-end absolute px-3">{{fieldTitle["viewemployeelist"]}}</button>
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-row">
          <div class="form-group col">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label title="{{ fieldTitle['userid'] }}">{{fieldTitle["userid"]}}</label>
              </div>
              <div class="col-md-8">
                  <p-autoComplete
                  name="userID"
                  [(ngModel)]="modelSvc.userProfile.userID"
                  field="userID"
                  [datasource]="autoCompleteUserList"
                  [style]="{ width: '100%' }"
                  placeholder="{{fieldTitle['userid']}}"
                  inputValidator
                ></p-autoComplete>
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-row">
          <div class="form-group col">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label title="{{ fieldTitle['password'] }}">{{fieldTitle["password"]}}</label>
              </div>
              <div class="col-md-8">
                  <input type="password" name="employeePassword" class="form-control" inputValidator
                  [(ngModel)]="modelSvc.userProfile.employeePassword" placeholder="{{fieldTitle['password']}}">
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-row">
          <div class="form-group col">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label title="{{ fieldTitle['confirmpassword'] }}">{{fieldTitle["confirmpassword"]}}</label>
              </div>
              <div class="col-md-8">
                  <input type="password" name="confirmPassword" class="form-control" autocomplete="off" passwordMatchValidator inputValidator
                  [(ngModel)]="modelSvc.userProfile.confirmPassword" placeholder="{{ fieldTitle['confirmpassword'] }}">
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-row">
          <div class="form-group col">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label title="{{ fieldTitle['username'] }}">{{fieldTitle["username"]}}</label>
              </div>
              <div class="col-md-8">
                  <input type="text"  name="userName" class="form-control" inputValidator
                  [(ngModel)]="modelSvc.userProfile.userName" placeholder="{{ fieldTitle['username'] }}">
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-row">
          <div class="form-group col">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label title="{{ fieldTitle['email'] }}">{{fieldTitle["email"]}}</label>
              </div>
              <div class="col-md-8">
                  <input type="email" name="email" class="form-control" inputValidator
                  [(ngModel)]="modelSvc.userProfile.email" placeholder="{{ fieldTitle['email'] }}">
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-row">
          <div class="form-group col">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label title="{{ fieldTitle['contactno'] }}">{{fieldTitle["contactno"]}}</label>
              </div>
              <div class="col-md-8">
                  <input type="text" name="contactNo" class="form-control" inputValidator
                  [(ngModel)]="modelSvc.userProfile.contactNo" placeholder="{{ fieldTitle['contactno'] }}">
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-row">
          <div class="form-group col">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label title="{{ fieldTitle['usertype'] }}">{{fieldTitle["usertype"]}}</label>
              </div>
              <div class="col-md-8">
                <p-select appendTo="body" [options]="userTypeList" name="userTypeID"
                  [(ngModel)]="modelSvc.userProfile.userTypeID" optionLabel="value" optionValue="code"
                  inputValidator [style]="{ width: '100%' }">
                </p-select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <div class="row align-items-center">
              <div class="col-md-4">
                <!-- <label title="{{ fieldTitle['status'] }}">{{fieldTitle["status"]}}</label> -->
              </div>
              <div class="col-md-8">
                <div class="d-flex justify-content-start">
                  <div class="form-check">
                    <input type="checkbox" [(ngModel)]="modelSvc.userProfile.isActive" id="isActive" name="isActive" class="form-check-input">
                    <label for="isActive" title="{{fieldTitle['active']}}" class="form-check-label">{{fieldTitle['active']}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mb-0 mt-3">
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary tn-sm"  (click)="viewUserListPage()">
              {{fieldTitle['userlist']}} 
            </button>
            <button type="button" (click)="saveUserProfile(userProfileForm)" [disabled]="!userProfileForm.dirty" class="btn btn-sm btn-success mr-d-10">
              <img src="../../../assets/images/icons/save.svg" alt="icon"/> {{fieldTitle['save']}} 
            </button>
            <button type="button" class="btn btn-warning btn-sm" [disabled]="!userProfileForm.dirty" (click)="reset()">
              <img src="../../../assets/images/icons/repeat.svg" alt="icon"> {{fieldTitle['reset']}} 
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
