<div class="login-panel">
  <div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-md-5 p-0">
        <div class="login-box">
          <img class="sign-img-bg" src="../../assets/images/user/sign.png" alt="sign"/>
          <div class="align-self-center">
            <img src="../../assets/images/winbees.png">
            <h4>Change Password</h4>
            <p>Please enter the new Password & confirm</p>
            <form #changePasswordForm="ngForm" class="no-padding"
            [addValidators]="validationMsgObj"
            validationMessage="changePasswordValidateModel">
              <div class="in-box">
                <div class="floating-label-group">
                  <input type="password" class="form-control" inputValidator [(ngModel)]="modelSvc.changePasswordMoel.password" autocomplete="off" autofocus name="password">     
                  <span class="floating-label">New Password</span>
                </div>
                <div class="floating-label-group">
                  <input type="password" class="form-control" inputValidator [(ngModel)]="modelSvc.changePasswordMoel.reEnterPassword" autocomplete="off" autofocus  name="reEnterPassword">                 
                  <span class="floating-label">ReType Password</span>
                </div>
              </div>
              <button type="button" (click)="onSubmit(changePasswordForm)" class="btn btn-login-in">Continue</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
